.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    height: 100px;
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-card {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    margin: 10px;
    background-color: #f0f0f0;
    padding: 10px;
}

.res-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}